.menu-left{
    width: 200px;
    border: 1px solid rgb(185, 180, 190);
    border-bottom: none;
    background: linear-gradient(to top right, rgb(44, 47, 51), rgb(102, 94, 131));
}
.LBP_button, .LBP_button_Active{
    border-bottom:  1px solid rgb(185, 180, 190);
    color: rgb(187, 181, 202);
    font-weight: bold;
    font-size: 20pt;
    text-align: center;
}
.LBP_button_Active, .LBP_button:hover{
    background: linear-gradient(to top right, rgb(48, 49, 49), rgb(63, 63, 66));
}